body {
    background-color:white;
    font-family:roboto;
    color:white;
    margin:0;
}
#header {
    border:2px black solid;
    text-align:center;
    background-color:#2a3e52;
}
#overview {
    text-align:center;
    background-image:url('https://www.xtrafondos.com/wallpapers/falla-abstracto-8338.jpg');
    padding:15%;
    border:2px black solid
    color:white;
    background-size:auto;
}
